<div>
  <div class="row" *ngIf="profile">
    <div class="col-md-2">ข้อมูลจากระบบ HIS</div>
    <div class="col-md-2">{{profile.hn}}
      <clr-icon *ngIf="profile.hn != hn" style="color: yellow" shape="warning-standard"></clr-icon>
      <clr-icon *ngIf="profile.hn == hn" style="color: green" shape="check"></clr-icon>
    </div>
    <div class="col-md-2">{{profile.cid}}
      <clr-icon *ngIf="profile.cid !== cid" style="color: yellow" shape="warning-standard"></clr-icon>
      <clr-icon *ngIf="profile.cid == cid" style="color: green" shape="check"></clr-icon>
    </div>
    <div class="col-md-2">
      {{_firstName}} {{_lastName}}
      <clr-icon *ngIf="_firstName !== firstName || _lastName !== lastName" style="color: yellow" shape="warning-standard"></clr-icon>
      <clr-icon *ngIf="_firstName === firstName && _lastName === lastName" style="color: green" shape="check"></clr-icon>
    </div>
  </div>
  <clr-datagrid>
    <clr-dg-placeholder>ไม่มีข้อมูลการรับบริการ!</clr-dg-placeholder>
    <clr-dg-row *ngFor="let s of detail.diagnosis">
      <clr-dg-cell>{{s.date_serv | toThaiDate}}</clr-dg-cell>
      <clr-dg-cell>Seq : {{s.seq}}</clr-dg-cell>
      <clr-dg-cell>{{s.provider_name}}</clr-dg-cell>
      <clr-dg-cell>
      </clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
<clr-modal [(clrModalOpen)]="openLoading" [clrModalClosable]="false">
  <h3 class="modal-title">ประมวลผล</h3>
  <div class="modal-body">
    <span class="spinner spinner-inline">
      กรุณารอซักครู่...
    </span>
    <span>
      กรุณารอซักครู่...
    </span>
  </div>
</clr-modal>
