<div class="card" style="height:80%">
  <div class="card-block">
    <div class="card-header">
      ตรวจสอบการยินยอมเปิดเผยข้อมูล Consent Form
    </div>
    <div class="card-title">
      <!-- <div class="form-block">
        <div class="form-group"> -->
      <div class="row" style="margin-top: 3%;">
        <div class="col-md-4" style="text-align: right;">เลขบัตรประชาชน</div>
        <div class=" col-md-4">
          <input type="text" style="border: 1px solid #000;
              border-radius: .125rem;
              padding: .3rem .5rem;
              width: 100%;
              height: 1.5rem;
              background-color: #17242b" (keyup)="enterSearch($event)" name="cid" [(ngModel)]="cid">
        </div>
        <div class="col-md-1">
          <clr-icon (click)="search()" shape="search" size="30"></clr-icon>
          <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="card-text">
      <clr-datagrid >
        <clr-dg-column>วันที่ตรวจสอบ</clr-dg-column>
        <clr-dg-column>ผู้ตรวจสอบข้อมูล</clr-dg-column>
        <clr-dg-column>รหัสประจำตัวประชาชน</clr-dg-column>
        <clr-dg-column>สถานะ</clr-dg-column>
        <clr-dg-placeholder>ไม่พบการตรวจสอบข้อมูล!</clr-dg-placeholder>
        <clr-dg-row *clrDgItems="let w of logs" [clrDgItem]="w">
          <clr-dg-cell>{{w.timestamp | toThaiDateTime}}</clr-dg-cell>
          <clr-dg-cell>{{w.search_by}}</clr-dg-cell>
          <clr-dg-cell>{{w.cid}}</clr-dg-cell>
          <clr-dg-cell>{{w.is_found == 'Y' ? 'ลงทะเบียนแล้ว' : 'ยังไม่ได้ลงทะเบียน'}}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
          <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="total"></clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>