<div class="card" style="margin-top: 0px;">
  <div class="card-block">
    <div class="card-text">
      <form>
        <div class="form-group row">
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="nation" class="label-color">สัญชาติ</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="nation" placeholder="สัญชาติ" size="45" readonly value="{{person.NATION}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="race">เชื้อชาติ</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="race" placeholder="เชื้อชาติ" size="45" readonly value="{{person.RACE}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="religion">ศาสนา</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="religion" placeholder="ศาสนา" size="45" readonly value="{{person.RELIGION}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="mstatus">สถานะสมรส</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="mstatus" placeholder="สถานะสมรส" size="45" readonly value="{{person.MSTATUS}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="occupation_new">อาชีพ</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="occupationNew" placeholder="อาชีพ" size="45" readonly value="{{person.OCCUPATION_NEW}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="education">การศึกษา</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="education" placeholder="ระดับการศึกษา" size="45" readonly value="{{person.EDUCATION}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="father">CID บิดา</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="father" placeholder="CID บิดา" size="45" readonly value="{{person.FATHER}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="mother">CID มารดา</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="mother" placeholder="CID มารดา" size="45" readonly value="{{person.MOTHER}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="couple">CID คู่สมรส</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="couple" placeholder="CID คู่สมรส" size="45" readonly value="{{person.COUPLE}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="aBOGroup">หมู่เลือด</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="aBOGroup" placeholder="หมู่เลือด" size="45" readonly value="{{person.ABOGROUP}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="rsGroup">หมู่เลือด RH</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="rsGroup" placeholder="หมู่เลือด RH" size="45" readonly value="{{person.RHGROUP}}">
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
            <label for="updateDate">ปรับปรุงข้อมูล</label>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
            <input class="form-control" type="text" id="updateDate" placeholder="ปรับปรุงข้อมูล" size="45" readonly value="{{person.D_UPDATE | toThaiDate}}">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>