<div class="row" style="margin-top:10%;width:95%;">
  <div class="offset-md-1 col-md-10" style="text-align: center">
    ระบุ CID
    <input type="text" name="cid" [(ngModel)]="cid" (keyup)="enter($event)">
    <button class="btn btn-success" (click)="checkmoph()" >ค้นหา</button>
  </div>
  <div class="offset-md-1 col-md-10" >
      <clr-datagrid [clrDgLoading]="loading">
          <clr-dg-column>CID</clr-dg-column>
          <clr-dg-column>Moph ID</clr-dg-column>
          <clr-dg-column>Name </clr-dg-column>
          <clr-dg-column>Last Name</clr-dg-column>
          <clr-dg-placeholder>ไม่มีข้อมูล</clr-dg-placeholder>
          <clr-dg-row *ngFor="let m of moph">
              <clr-dg-cell>{{m.cid}}</clr-dg-cell>
              <clr-dg-cell>{{m.moph_id}}</clr-dg-cell>
              <clr-dg-cell>{{m.name }}</clr-dg-cell>
              <clr-dg-cell>{{m.lname}}</clr-dg-cell>
          </clr-dg-row>
      
          <clr-dg-footer>{{moph.length}} users</clr-dg-footer>
      </clr-datagrid>
  </div>
  <div class="col-md-1"></div>
  <div class="offset-md-2 col-md-4" style="text-align: center">
    <div *ngIf="cMoph"><clr-icon shape="check" ></clr-icon>มี MOPH ID</div>
    <div *ngIf="!cMoph"> <clr-icon shape="times" ></clr-icon>ไม่มี MOPH ID</div>
  </div>
  <div class="col-md-4">
      <div *ngIf="cPerson"><clr-icon shape="check" ></clr-icon>มีข้อมูลในฐานข้อมูล</div>
      <div *ngIf="!cPerson"> <clr-icon shape="times" ></clr-icon>ไม่มีข้อมูลในฐานข้อมูล</div>
  </div>
  <div class="col-md-12" style="text-align: center;margin-top:2%;">
      <div *ngIf="cPerson && cMoph">
          <div style="color:green;font-size:1.5rem">
              <clr-icon shape="check" ></clr-icon> ลงทะเบียนได้
            </div>
      </div>
      <div *ngIf="!cPerson || !cMoph"> 
        <div style="color:red;font-size:1.5rem">
          <clr-icon shape="times" ></clr-icon> ห้ามลงทะเบียน
        </div>
      </div>
  </div>
</div>
