<div class="row flex-items-xs-center">
  <div class="col-md-11">
    <clr-datagrid>
      <clr-dg-column>ชื่อการตรวจ</clr-dg-column>
      <clr-dg-column [style.width.px]="150">ผลการตรวจ</clr-dg-column>

      <clr-dg-row *ngFor="let lab of labfuDetail">
        <clr-dg-cell>{{lab.LABTESTNAME}}</clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{lab.LABRESULT}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{labfuDetail.length}} รายการ</clr-dg-footer>
    </clr-datagrid>
  </div>
</div>