<div class="row flex-items-xs-center">
  <div class="col-md-11">
    <clr-datagrid>
      <clr-dg-column>น้ำหนัก(กก.)</clr-dg-column>
      <clr-dg-column>ส่วนสูง(ซม.)</clr-dg-column>
      <clr-dg-column>เส้นรอบเอว(ซม.)</clr-dg-column>
      <clr-dg-column>ความดัน ครั้งที่1</clr-dg-column>
      <clr-dg-column>ความดัน ครั้งที่2</clr-dg-column>
      <clr-dg-column>ระดับน้ำตาล(มก./ดล.)</clr-dg-column>

      <clr-dg-row>
        <clr-dg-cell style="text-align: right;">{{detail.WEIGHT | number: '1.2-2'}}</clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{detail.HEIGHT | number: '1.2-2'}}</clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{detail.WAIST_CM | number: '1.2-2'}}</clr-dg-cell>
        <clr-dg-cell style="text-align: center;">{{detail.SBP_1 | number}}/{{detail.DBP_1 | number}}</clr-dg-cell>
        <clr-dg-cell style="text-align: center;">{{detail.SBP_2 | number}}/{{detail.DBP_2 | number}}</clr-dg-cell>
        <clr-dg-cell style="text-align: right;">{{detail.BSLEVEL | number: '1.2-2'}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>