<clr-datagrid>
  <clr-dg-column [style.width.px]="120">วันที่ตรวจ</clr-dg-column>
  <clr-dg-column>สถานพยาบาลที่บันทึก</clr-dg-column>
  <clr-dg-column>น้ำหนัก(กก.)</clr-dg-column>
  <clr-dg-column>ส่วนสูง(ซม.)</clr-dg-column>
  <clr-dg-column>ความดัน ครั้งที่1</clr-dg-column>
  <clr-dg-column>ความดัน ครั้งที่2</clr-dg-column>
  <clr-dg-column>ระดับน้ำตาล(มก./ดล.)</clr-dg-column>
  <clr-dg-column>สถานที่รับบริการ</clr-dg-column>

  <clr-dg-placeholder>ไม่พบรายการ!</clr-dg-placeholder>

  <clr-dg-row *ngFor="let ncd of ncdScreen">
    <!-- <app-ncd-detail *clrIfExpanded [detail]="ncd" ngProjectAs="clr-dg-row-detail"></app-ncd-detail> -->

    <clr-dg-cell style="text-align: center;">{{ncd.DATE_SERV | toThaiDate}}</clr-dg-cell>
    <clr-dg-cell>{{ncd.HOSPNAME}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{ncd.WEIGHT | number: '1.2-2'}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{ncd.HEIGHT | number: '1.2-2'}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">{{ncd.SBP_1 | number}}/{{ncd.DBP_1 | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">{{ncd.SBP_2 | number}}/{{ncd.DBP_2 | number}}</clr-dg-cell>
    <clr-dg-cell style="text-align: right;">{{ncd.BSLEVEL | number: '1.2-2'}}</clr-dg-cell>
    <clr-dg-cell>{{ncd.SCREENPLACENAME}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{ncdScreen.length}} รายการ</clr-dg-footer>
</clr-datagrid>