<form>
  <div class="row flex-items-xs-center">
    <div class="col-md-11">
      <div class="form-group row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
          <label for="nation" class="label-color">ประเภทการวินิจฉัย</label>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
          <input class="form-control" type="text" id="nation" placeholder="ประเภทการวินิจฉัย" size="45" readonly value="{{detail.TYPEDX}}">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
          <label for="nation" class="label-color">ระดับความรุนแรง</label>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
          <input class="form-control" type="text" id="nation" placeholder="ระดับความรุนแรง" size="45" readonly value="{{detail.ALEVELNAME}}">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
          <label for="nation" class="label-color">ลักษณะอาการแพ้</label>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
          <input class="form-control" type="text" id="nation" placeholder="ลักษณะอาการแพ้" size="45" readonly value="{{detail.SYMPTOMNAME}}">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
          <label for="nation" class="label-color">ผู้ให้ประวัติ</label>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
          <input class="form-control" type="text" id="nation" placeholder="ผู้ให้ประวัติ" size="45" readonly value="{{detail.INFORMANTNAME}}">
        </div>
      </div>
    </div>
  </div>
</form>